:host{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .4rem solid var(--border-color);
 }

.display-snippet-btns{
    display: flex;
    justify-content: space-evenly;
}



.display-snippet-screen{
    height: 25rem;
    width: 28rem;
    text-align: center;
    overflow: scroll;
    background-color: #fff;
    border: .2rem solidvar(--border-color);
}



.btn {
  
  color:#333;
  height: 3rem;
  width: 9.4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: .1rem solid var(--border-color);
  cursor: pointer;
  background-color: #fff;
  }

  .btn-atom{
    background-color: var(--btn-secondary);
  }
  .btn-vscode{
    background-color: var(--btn-primary);
  }
  .btn-sublime{
    background-color: var(--btn-tertiary);
  }





@media screen and (min-width: 950px) {
  
  :host{
    margin-top: 50rem;
  }
  
  .btn{
  height: 5rem;
  width: 20rem;
  }

  .display-snippet-screen{
  
    height:var(--max-height);
    width: var(--max-width);
    text-align: center;
    overflow: scroll;
    background-color: #fff;
    border: .2rem solid var(--border-color);
}


}