<form [formGroup]="snippetForm">
    <div class="form-group-1">
        <input type="text" 
               name="description" 
               placeholder="Description for your snippet ...."
               formControlName="description" 
               (keyup)="shareFormData($event)">

        <input type="text" 
               name="trigger" 
               placeholder="Trigger for your snippet ..." 
               formControlName="prefix"
               (keyup)="shareFormData($event)">
    </div>


    <div class="form-group-2">
        <textarea #textareaRef
                  name="snippet" 
                  placeholder="Your snippet ..." 
                  formControlName="snippet"
                  (keyup)="shareFormData($event)">
        </textarea>
    </div>
</form>