/* You can add global styles to this file, and also import other style files */

:root{

    --primary-default: #288cdd;
    --primary-dark: #ec9523;
    --primary-light: #4eaa32;

    --background: #288cdd;
    --background-secondary: #ec9523;
    --background-tertiary: #4eaa32;

    --btn-primary: #288cdd;
    --btn-secondary : #fff;
    --btn-tertiary:  #fff;
    --border-color: rgb(105, 145, 172);

    --max-height: 50rem;
    --max-width: 60rem;


    font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  
}

body {
    background: var(--background);
    transition: background-color 140ms;
  }

  pre{
  flex: 1;
  font: inherit;
  resize: none;
  /* stylelint-disable */
  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
  /* stylelint-enable */
  user-select: all;
  text-align: left;
  }

  @media screen and (min-width: 450px) {
    body {
      font-size: 1.6rem
    }
  }

  @media screen and (min-width: 950px) {
    body {
      font-size: 1.8rem
    }

    pre{
      font-size: 1.8rem;
    }
  }