<div class="snippet" *ngIf="$snippetData | async as snippet">
  <pre #snippetValue>
        &lt;snippet&gt;
            &lt;content&gt;&lt;![CDATA[
          {{snippet.body | snippet:'sublime'}}
          ]]&gt;&lt;/content&gt;
            &lt;tabTrigger&gt;{{snippet.prefix}}&lt;/tabTrigger&gt;
            &lt;description&gt;{{snippet.description}}&lt;/description&gt;
            
            
          &lt;/snippet&gt;
</pre>

<button
[clipboard]="snippetValue.textContent.trim()"
(clipboardCopy)="logSuccess($event)"
(clipboardError)="logError($event)">
Copy Text
</button>
</div>